.card-wrapper {
    background-color: #ffffff;
    width: 250px;
    height: 170px;
    box-shadow: 0px 30x 60px rgba(32, 56, 85, 0.15);
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-rows: max-content auto max-content;
    gap: 15px;
    margin: 20px;
}

.card-wrapper p {
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header p {
    font-size: 14px;
    line-height: 17px;
    color: #b9b9b9;
    font-weight: 700;
}



.card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


